[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
ipdb = "*"
jupyter = "*"
jupyterlab = "*"
jupyterlab-code-formatter = "*"
kaleido = "*"
matplotlib = "*"
pandas = "*"
plotly = "*"
rich = "*"
scipy = "*"
tqdm = "*"
selenium = "*"
beautifulsoup4 = "*"
webdriver-manager = "*"
fake-useragent = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
